# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Build / Distribution
build/
dist/
*.spec

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
Desktop.ini